<div class="chess"></div>
<footer>
    <div class="container">
        <div class="row">
          <div class="copy_wrap col-md-3">
              <div class="logo">
                  <img src="imgs/logo.png" alt="logo">
                  <a href="/" class="streched"></a>
              </div>
              <div class="text">
                  <p>© 2015−2017 НПО «Империя металлов»</p>
                  <p>Все права защищены</p>
              </div>
          </div>

          <div class="partners col-md-5">
              <div class="partner">
                  <img src="imgs/raiffeisen-logo.png" alt="raiffeisen_logo">
                  <a href="/" class="streched"></a>
              </div>
              <div class="text">
                  <p>Генеральный партнер</p>
                  <p>Райффайзен Банк Аваль Украина</p>
              </div>
          </div>

          <div class="developed col-md-4">
              <div class="text">
                  <p>Дизайн макета — студия <a href="/">Goracio</a></p>
                  <p>Верстка и программирование — <a href="/">7lines</a></p>
              </div>
              <div class="social">
                  <div class="youtube">
                      <img src="imgs/youtube-logo.png" alt="">
                      <a href="/" class="streched"></a>
                  </div>
                  <div class="facebook">
                      <img src="imgs/facebook-logo.png" alt="">
                      <a href="/" class="streched"></a>
                  </div>
              </div>
          </div>
        </div>
    </div>
</footer>