<header class="slide mobile_header">
	<ul id="navToggle" class="burger">
		<li></li><li></li><li></li>
	</ul>
	<div class="logo">
		<img src="imgs/logo.png" alt="logo">
		<a href="javascript:void(0);" class="streched"></a>
	</div>
</header>

<header class="desktop_header">
	<div class="top_line">
		<div class="container">
			<ul class="top_links">
				<li>
					<a href="tel:+38 (057) 719 62 09">
						<i class="fa fa-mobile" aria-hidden="true"></i>
						<span>+38 (057) 719 62 09</span>
					</a>
				</li>
				<li>
					<a href="javascript:void(0);">
						<span>Все направления деятельности</span>
					</a>
					<ul class="dropdown_hidden directions">
						<li><a href="https://imperija.com/">imperija.com</a></li>
						<li><a href="https://sweets.imperija.com/">sweets.imperija.com</a></li>
						<li><a href="https://b2b.imperija.com/">b2b.imperija.com</a></li>
						<li><a href="https://pasta.imperija.com/">pasta.imperija.com</a></li>
					</ul>
				</li>
			</ul>
			<ul class="right_menu pull-right">
				<li class="js_delivery" data-toggle="modal" data-target="#delivery_modal">
					<img src="imgs/truck-icon.png" alt="truck">
				</li>
				<li class="lang js_lang">
					<img src="imgs/world-map.png" alt="map">
					Русский
					<ul class="dropdown_hidden">
						<li class="lang_item js_lang_item">Русский</li>
						<li class="lang_item js_lang_item">Украинский</li>
						<li class="lang_item js_lang_item">Английский</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<div class="bottom_line">
		<div class="container">
			<div class="row">
				<div class="company col-md-1">
					<div class="logo">
						<img src="imgs/logo.png" alt="logo">
						<a href="javascript:void(0);" class="streched"></a>
					</div>
				</div>
				<div class="col-md-10">
					<div class="tagline">
						<p>Железная</p>
						<p>форма качества</p>
					</div>
					<ul class="nav">
						<li class="active"><a href="javascript:void(0);">Главная</a></li>
						<li>
							<a href="javascript:void(0);">О компании</a>
							<ul class="nested">
								<li><a href="javascript:void(0);">Вакансии</a></li>
							</ul>
						</li>
						<li>
							<a href="javascript:void(0);">Оснастка</a>
							<ul class="nested">
								<li>
									<a href="javascript:void(0);">Для фрезерных станков</a>
								</li>
								<li>
									<a href="javascript:void(0);">Для токарных станков</a>
								</li>
								<li>
									<a href="javascript:void(0);">Производители</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="javascript:void(0);">Инструмент</a>
							<ul class="nested lvl_one">
								<li>
									<a href="javascript:void(0);">Фрезы металлообрабатывающие</a>
									<ul class="nested lvl_two">
										<li>
											<a href="">Фрезы DHF</a>
											<ul class="nested lvl_three">
												<li><a href="">Фрезы монолитные DHF</a></li>
												<li><a href="">Фрезы с мехкреплением пластин DHF</a></li>
												<li><a href="">Роутеры DHF</a></li>
											</ul>
										</li>
										<li>
											<a href="">Фрезы Sumitomo</a>
										</li>
										<li>
											<a href="">Фрезы Dolfamex</a>
										</li>
										<li>
											<a href="">Фрезы SGS </a>
										</li>
										<li>
											<a href="">YG-1</a>
										</li>
										<li>
											<a href="">OSAWA</a>
										</li>
										<li>
											<a href="">NIKKOTOOLS</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="javascript:void(0);">Токарный</a>
								</li>
								<li>
									<a href="javascript:void(0);">Сверлильный</a>
								</li>
								<li>
									<a href="javascript:void(0);">Резьбонарезной</a>
								</li>
								<li>
									<a href="javascript:void(0);">Борфрезы</a>
								</li>
								<li>
									<a href="javascript:void(0);">Производители</a>
								</li>
							</ul>
						</li>
						<li><a href="javascript:void(0);">Новости</a></li>
						<li><a href="javascript:void(0);">Статьи</a></li>
						<li><a href="javascript:void(0);">Полезное</a></li>
						<li><a href="javascript:void(0);">Контакты</a></li>
					</ul>
				</div>
				<div class="col-md-1 form_container">
					<form onsubmit="submitFn(this, event);">
						<div class="search-wrapper">
							<div class="input-holder">
								<input type="text" class="search-input" placeholder="Type to search" />
								<button class="search-icon" onclick="searchToggle(this, event);"><span></span></button>
							</div>
							<span class="close" onclick="searchToggle(this, event);"></span>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</header>

