<div class="modal fade contact_us_modal" id="delivery_modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-body">
        <h3>Мы доставляем оборудование по всей Украине</h3>
        <div class="js_place place">
          <img src="imgs/big-pin-hover.png" alt="big-pin">
          <div class="city-name js_city-name"></div>
        </div>
        <!-- end of js_place place -->
        <div class="img_holder">
          <img src="imgs/ukraine-map.png" class="full-width" alt="ukraine-map">
          <div class="markers">
            <div class="marker js_marker" data-place-name="Киев" data-position-y="65" data-position-x="120"></div>
            <div class="marker js_marker" data-place-name="Харьков" data-position-y="152" data-position-x="82"></div>
            <div class="marker js_marker" data-place-name="Одесса" data-position-y="252" data-position-x="42"></div>
            <div class="marker js_marker" data-place-name="Днепр" data-position-y="82" data-position-x="182"></div>
            <div class="marker js_marker" data-place-name="Запорожье" data-position-y="190" data-position-x="132"></div>
            <div class="marker js_marker" data-place-name="Львов" data-position-y="222" data-position-x="90"></div>
            <div class="marker js_marker" data-place-name="Кривой Рог" data-position-y="252" data-position-x="152"></div>
            <div class="marker js_marker" data-place-name="Николаев" data-position-y="212" data-position-x="262"></div>
            <div class="marker js_marker" data-place-name="Мариуполь" data-position-y="170" data-position-x="192"></div>
            <div class="marker js_marker" data-place-name="Полтава" data-position-y="102" data-position-x="252"></div>
            <div class="marker js_marker" data-place-name="Хмельницкий" data-position-y="112" data-position-x="347"></div>
            <div class="marker js_marker" data-place-name="Сумы" data-position-y="172" data-position-x="402"></div>
            <div class="marker js_marker" data-place-name="Каменское" data-position-y="62" data-position-x="392"></div>
            <div class="marker js_marker" data-place-name="Луцк" data-position-y="82" data-position-x="492"></div>
            <div class="marker js_marker" data-place-name="Павлоград" data-position-y="162" data-position-x="462"></div>
            <div class="marker js_marker" data-place-name="Северодонецк" data-position-y="172" data-position-x="602"></div>
            <div class="marker js_marker" data-place-name="Бровары" data-position-y="242" data-position-x="422"></div>
            <div class="marker js_marker" data-place-name="Славянск" data-position-y="242" data-position-x="532"></div>
            <div class="marker js_marker" data-place-name="Никополь" data-position-y="212" data-position-x="692"></div>
            <div class="marker js_marker" data-place-name="Каменец-Подольский" data-position-y="262" data-position-x="652"></div>
            <div class="marker js_marker" data-place-name="Белая Церковь" data-position-y="312" data-position-x="322"></div>
            <div class="marker js_marker" data-place-name="Богодухов" data-position-y="312" data-position-x="412"></div>
            <div class="marker js_marker" data-place-name="Борислав" data-position-y="352" data-position-x="482"></div>
            <div class="marker js_marker" data-place-name="Борщёв" data-position-y="322" data-position-x="572"></div>
            <div class="marker js_marker" data-place-name="Бровары" data-position-y="442" data-position-x="502"></div>
            <div class="marker js_marker" data-place-name="Бурынь" data-position-y="402" data-position-x="292"></div>
          </div>
          <!-- end of markers -->
        </div>
        <!-- end of img_holder -->

        <h2>Свяжитесь с нами для обсуждения своего проекта</h2>
        <form action="/">
            <div class="input_wrap">
                <input type="text" placeholder="Ваше имя *" required="true">
                <input type="text" placeholder="Номер телефона *" required="true">
                <input type="text" placeholder="Электронная почта *" required="true">
            </div>
            <!-- end of input_wrap -->
            <textarea placeholder="Расскажите о своем проекте"></textarea>
            <input class="btn btn-blue" type="submit" value="Отправить">
        </form>
      </div>
    </div>
  </div>
</div>
<!-- delivery modal -->

<div id="callback_form" class="modal fade callback_form" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <div class="modal-body">
        <h2>Введите контактные данные</h2>
        <form action="/">
          <input type="text" placeholder="Ваше Имя*">
          <input type="text" placeholder="Номер телефона*">
          <input type="submit" class="btn btn-blue" value="Перезвоните мне">
        </form>
      </div>
    </div>
  </div>
</div>
<!-- contact form -->

<div id="testing_equipment" class="modal fade testing_equipment" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <div class="modal-body">
        <h2>Хотите на практике убедиться в высоком качестве нашего инструмента?</h2>

        <p>Просто заполните форму и получите металлообрабатывающий инструмент для испытания на вашем оборудовании!</p>

        <form action="/" class="testing_equipment_form">
        <div class="form-group">
          <input type="text" name="name" placeholder="Ваше Имя*" required>
          <input type="text" name="phone_number" placeholder="Номер телефона*" required>
          <input type="text" name="country" placeholder="Ваша страна*" required>
          <select name="producer" class="js_select">
            <option value="1" class="hiden_option">Производитель инструмента</option>
            <option value="1">Производитель инструмента 1</option>
            <option value="2">Производитель инструмента 2</option>
            <option value="3">Производитель инструмента 3</option>
          </select>
        </div>
        <!-- form-goup -->
        <div class="form-group">
          <input type="text" name="last_name" placeholder="Ваша фамилия *" required>
          <input type="text" name="company_name" placeholder="Название Вашей компании *" required>
          <input type="text" name="city" placeholder="Ваш город*" required>
          <select name="producer" class="js_select">
            <option value="1" class="hiden_option">Тип станка</option>
            <option value="2">Фрезерный станок</option>
            <option value="3">Токарный станок</option>
          </select>
        </div>
        <!-- form-goup -->
        <p>* Окончательное решение об отгрузке металлообрабатывающего инструмента для испытания принимает руководство НПО «Империя металлов»</p>
        <input type="submit" class="btn btn-blue" value="Отправить заявку">
        </form>
      </div>
    </div>
  </div>
</div>

<!-- testing_equipment -->

<div id="response_modal" class="modal fade response_modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <div class="modal-body">
        <p>
          На ваш почтовый ящик отправлена ссылка для активации заявки.
        </p>
      </div>
    </div>
  </div>
</div>
