<ul class="widgets">
	<li data-toggle="modal" data-target="#testing_equipment">
		<img src="imgs/widget_list.png" alt="">
		<div class="text">
			<p>Испытать</p>
			<p class="small">наш инструмент</p>
		</div>
	</li>
	<li data-toggle="modal" data-target="#callback_form">
		<img src="imgs/callback-icon.png" alt="">
		<div class="text">
			<p>Заказать</p>
			<p class="small">обратный звонок</p>
		</div>
	</li>
	<li class="hvr-wobble-horizontal animated js_animated">
		<img src="imgs/free-call-icon.png" alt="">
		<div class="text">
			<p>Позвонить</p>
			<p class="small">на бесплатный номер</p>
		</div>
	</li>
</ul>