@import "partials/vars";

.error {
	height: 70vh;
  min-height: 710px;
	padding: 25px 0;
	background-color: $blue;
	position: relative;
	margin-bottom: 100px;
	h2 {
		font-size: 120px;
		font-weight: 400;
		line-height: 100px;
		text-transform: uppercase;
		color: #fff;
		margin-bottom: 30px;
	}
	.text {
		color: #fff;
		font-size: 20px;
		line-height: 24px;
		font-weight: 600;
		margin-bottom: 15px;
	}
	p {
		color: #fefefe;
		font-size: 15px;
		font-weight: 400;
		line-height: 18px;
	}
	form {
		margin-bottom: 23px;
		margin-top: 22px;
		font-size: 0;
	}
	.input_wrap {
		position: relative;
		&:before {
			content: "";
			display: block;
			height: 20px;
			width: 20px;
			background: url("../imgs/search-icon-dark.png") no-repeat center center;
			position: absolute;
			left: 10px;
			top: 50%;
			transform: translate(0, -50%);
			z-index: 1;
		}
	}
	.search_input {
		position: relative;
		width: 70%;
		height: 36px;
		padding-left: 35px;
		margin-bottom: 0;
		transition: linear 0.35s;
		border: none;
		outline: none;
	}
	.search_btn {
		background-color: $dark_blue;
		transition: linear 0.35s;
		color: #fff;
		border: none;
		height: 36px;
		font-size: 14px;
		width: 30%;
		&:hover {
			background-color: $blue;
		}
	}
}

.error-bg {
  position: absolute;
  top: -15px;
  right: -2px;
  width: 53%;
  z-index: 3;
}

.chess {
	min-height: 150px;
	background: url(../imgs/footer-background404.png) no-repeat;
}

@media (min-width: 320px) and (max-width: 480px) {
	.error {
		.search_btn {
			width: 40%;
		}
		.search_input {
			width: 60%;
		}
	}
}

@media (min-width: 481px) {
	.error {
		h2 {
			text-align: left;
		}
		.search_btn {
			width: 30%;
		}
		.search_input {
			width: 70%;
		}
	}
}

@media (min-width: 320px) and (max-width: 1300px) {
	.error {
		height: auto;
		min-height: auto;
		margin-bottom: 20px;
		h2 {
			text-align: center;
		}
		.text-container {
			padding: 0 30px;
			position: relative;
			z-index: 2;
		}
		.error-bg {
			width: 100%;
			max-width: 400px;
			z-index: 1;
		}
		.input_wrap {
			max-width: 400px;
		}
	}
}

@media (min-width: 1701px) {
	.error {
		margin-top: 15px;
    min-height: 600px;
		padding: 0;
		h2 {
			margin-bottom: 23px;
		}
		p {
			margin-bottom: -3px;
		}
		.list {
			margin-bottom: 0;
		}
		form {
			margin-top: 25px;
			margin-bottom: 20px;
			width: 560px;
		}
		.input_wrap {
			&:before {
				left: 16px;
			}
		}
		.search_input {
    	width: 392px;
    	padding-left: 43px;
		}
		.search_btn {
			width: 140px;
		}
		.no-list li {
    	margin-right: 26px;
  	}
	}
	.error-bg {
    position: absolute;
    top: -55px;
    right: -2px;
    width: 53%;
	}
}