@import "partials/vars";

.breadcrumb {
  margin-top: -28px;
  margin-bottom: 30px;
}

.contact_us {
	float: none;
	.input_wrap {
		display: inline-block;
		width: 40%;
		input:last-of-type {
			margin-bottom: 0;
		}
	}
	textarea {
		width: 57%;
		float: right;
		margin-bottom: 0;
	}
	.btn {
		display: block;
		margin: 20px auto 0;
	}
}

.heading {
	h2 {
		font-size: 20px;
	}
}

.nav-pills {
  margin-top: 35px;
  margin-bottom: 0;
}

.sub_tabs {
  margin-bottom: 70px;
  li {
    display: inline-block;
    margin-right: 20px;
    a {
      color: $blue;
      font-size: 15px;
      font-weight: 400;
    }
  }
  li:last-of-type {
    margin-right: 0;
  }
}

.list {
  li {
    color: #000;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 10px;
    .sublist {
      margin-left: -20px;
      margin-top: 10px;
      margin-bottom: -10px;
      li {
        display: block;
        &:before {
          display: none;
        }
      }
    }
    &:before {
      background-color: #000;
    }
  }
}

.manufacturers_logo {
  img {
    width: auto;
    max-width: 100%;
  }
}

.tabs_wrap {
  margin-bottom: 100px;
}

ul.list,
ul.no-list {
  li {
    width: 100%;
    img {
      width: 100%;
    }
  }
}

.manufactures_row, .catalogue_row {
  margin-bottom: 62px;
}

.catalogue_row {
  margin-right: 0;
  .content {
    padding: 40px 20px 0;
    border: 1px solid $border_color;
  }
}

.manufacturers, .tools {
  .info {
    margin-bottom: 50px;
    .text {
      max-height: 375px;
      overflow: hidden;
      h3 {
        margin-top: 0;
        font-size: 24px;
        font-weight: 600;
      }
    }
    .text.opened {
      max-height: 100%;
    }
    .links {
      position: absolute;
      bottom: -40px;
      left: 5px;
      margin-bottom: 0;
      .rotated {
        transform: rotate(-180deg);
      }
      .open_this {
        transition: all 0.35s;
        i {
          transition: all 0.35s;
        }
      }
    }
    i {
      transition: all 0.35s;
    }
  }
  .info.opened {
    height: auto;
  }
  .tool_logo {
    img {
      width: auto;
      max-width: 100%;
      margin: 0 auto 10px;
      display: block;
    }
    .hover-wrap {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 150px;
      height: 140px;
    }
    .hovered {
      transition: all .35s;
      background-color: rgba(44,77,107,.55);
      display: none;
      position: absolute;
      left: 15px;
      right: 15px;
      bottom: 0;
      top: 0;
    }
    &:hover .hovered {
      display: block;
    }
  }
}

.download {
  margin-bottom: 0;
  padding: 20px 32px 55px;
  border: 1px solid $border_color;
  h3 {
    img {
      margin-top: -4px;
    }
  }
  .list {
    margin-bottom: 0;
    li {
      width: 100%;
      img {
        width: 100%;
      }
    }
    li:last-of-type {
      margin-bottom: 0;
    }
    a, p {
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      margin-bottom: 0;
    }
    a {
      color: $blue;
      text-transform: none;
    }
  }
  .list_blue {
    li {
      margin-bottom: 5px;
      a {
        color: $blue;
      }
    }
  }
  .part {
    margin-bottom: 40px;
    h3 {
      margin-bottom: 20px;
      font-size: 18px;
      font-weight: 400;
      padding-left: 20px;
    }
  }
  .part:last-of-type {
    margin-bottom: 0;
  }
}

.tool_item {
  margin-bottom: 50px;
  position: relative;
  img {
    position: absolute;
    top: 0;
    left: 20px;
  }
  .text {
    margin-left: 115px;
    h4 {
      margin-top: 0;
      margin-bottom: 8px;
      font-size: 18px;
      font-weight: 600;
    }
    p {

    }
    a {
      color: $blue;
      &:hover {
        text-decoration: none;
        border-bottom: 1px solid $blue;
      }
    }
  }
}

.description {
  margin-bottom: 45px;
  margin-top: 20px;
  h2 {
    margin-top: 0;
  }
  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    margin-bottom: 15px;
  }
  .company_text {
    padding-left: 45px;
  }
}

.services_row {
  margin-top: 50px;
  margin-bottom: 20px;
  .services {
  	margin-bottom: 40px;
    position: relative;
    img {
      width: 100%;
    }
    .bott_line {
      background-color: rgba(3, 76, 108, 0.7);
      position: absolute;
      bottom: 0;
      left: 15px;
      right: 15px;
      padding: 10px 13px 33px;
      z-index: 9;
      p {
        text-align: center;
        color: #fff;
        margin-bottom: 0;
        font-size: 18px;
        font-weight: 300;
        line-height: 22px;
        /*width: 70%;*/
        margin: 0 auto;
      }
    }
    .hovered {
      transition: all 0.35s;
      background-color: rgba(44, 77, 107, 0.55);
      display: none;
      position: absolute;
      left: 15px;
      right: 15px;
      bottom: 65px;
      top: 0;
      img {
        margin-top: -60px;
        width: 45%;
        height: auto;
      }
      .streched {
        z-index: 1;

      }
    }
    &:hover .hovered {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

.broad_nav_mobile {
  display: none;
}

.more {
  color: $blue;
  font-size: 15px;
  font-weight: 400;
  border-bottom: 1px solid transparent;
  transition: all .35s;
  &:hover {
    color: $blue;
    text-decoration: none;
    border-bottom: 1px solid $blue;
  }
}

.hvr-shutter-out-horizontal {
  background: transparent;
  &:before {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    background: url(../imgs/crown.png) no-repeat center center;
  }
}

.broad_nav_mobile {
  position: relative;
  cursor: pointer;
  border: 1px solid;
  width: 100%;
  padding: 5px 15px;
  border-radius: 3px;
  li {
    display: none;
  }
  li.active {
    display: block;
  }
  &:after {
    content: '';
    display: block;
    top: 15px;
    position: absolute;
    right: 10px;
    -webkit-transform: translate(-50%) rotate(40deg);
    transform: translate(0, -50%) rotate(40deg);
    transition: all .35s;
    width: 6px;
    height: 6px;
    border: 2px solid #000;
    border-left: none;
    border-top: none;
  }
}
.broad_nav_mobile.opened {
  li {
    display: block;
  }
  &:after {
    top: 15px;
    -webkit-transform: translate(-50%) rotate(220deg);
    transform: translate(-50%) rotate(220deg);
  }
}

@media (min-width: 320px) and (max-width: 1300px) {
  .description {
    margin-bottom: 20px;
    .company_text {
      padding-left: 15px;
    }
  }
  .catalogue_row {
    margin-bottom: 20px;
  }
  .manufacturers, .tools {
    .info {
      margin-bottom: 20px;
    }
  }
  .tools {
    .tool_logo {
      img {
        width: auto;
        max-width: 100%;
        margin: 0 auto 10px;
        display: block;
      }
    }
  }
  .sub_tabs {
    margin-bottom: 15px;
  }
  .download {
    margin-left: 15px;
    margin-right: 15px;
    padding: 20px;
    h3 {
      margin-top: 0;
    }
  }
  .services_row {
    .services {
      .bott_line {
        padding: 10px 13px;
      }
    }
  }
  .contact_us {
    .input_wrap {
      max-width: 100%;
      width: 100%;
      margin-bottom: 15px;
    }
    textarea {
      width: 100%;
      margin-bottom: 15px;
    }
  }
  .tabs_wrap {
    margin-bottom: 20px;
  }
  .manufactures_row {
    margin-bottom: 20px;
  }
  .manufacturers {
    .info {
      margin-bottom: 70px;
      .links {
        bottom: -55px;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .services_row {
    .services {
      max-width: 320px;
      margin: 0 auto 20px;
    }
  }
}

@media (min-width: 320px) and (max-width: 991px) {
  .broad_nav_mobile {
    display: inline-block;
  }
  .broad_nav_desk {
    display: none;
  }
}

@media (min-width: 481px) and (max-width: 991px) {
  .services_row {
    .services {
      width: 50%;
      max-width: 50%;
      margin-bottom: 30px;
      float: left;
    }
  }
}

@media (min-width: 992px) and (max-width: 1300px) {
  .heading {
    img {
      position: absolute;
      left: 0;
    }
    h1 {
      margin-bottom: 5px;
    }
    h2 {
      margin-bottom: 24px;
      margin-top: 24px;
    }
    ul {
      position: relative;
      left: 50px;
      top: 0;
      transform: none;
    }
  }
}

@media (min-width: 1701px) {
  .heading {
    margin-bottom: 46px;
    h2 {
      margin-top: 25px;
      padding-left: 45px;
    }
  }
  .contact_us {
    textarea {
      width: 57%;
    }
    .btn {
      margin-top: 0;
    }
  }
  .tabs_wrap {
    margin-bottom: 86px;
    .tab-pane {
      margin-top: 32px;
    }
  }
  .info {
    .text {
      h3 {
        margin-bottom: 20px;
      }
      .list {
        li {
          margin-bottom: 8px;
        }
      }
      .sublist {
        li {
          margin-bottom: 8px;
        }
      }
    }
  }
  .tools {
    margin-bottom: -20px;
    .manufactures_row {
      margin-bottom: 0;
    }
    .tab-pane {
      margin-top: -6px;
    }
    .catalog-pagination {
      margin-bottom: 90px;
    }
  }
}
