@import "partials/vars";

.breadcrumb {
	margin-top: -28px;
	margin-bottom: 30px;
}

.department_leader {
	.contacts {
		margin: 0 auto;
	}
}

.department {
	font-size: 0;
	margin-bottom: 0;
	h2 {
		font-size: 28px;
	}
	.contacts {
		margin-top: 0;
		li {
		  padding-left: 30px;
		  position: relative;
		  a {
		    font-size: 16px;
		    font-weight: 600;
		    line-height: 24px;
		    color: $dark;
		  }
		  .img_wrap {
		    width: 23px;
		    height: 25px;
		    position: absolute;
		    left: -5px;
		    top: 0;
		    img {
		      min-width: 10px;
		      width: auto;
		      height: auto;
		      border-radius: 0;
		      position: absolute;
		      left: 50%;
		      top: 50%;
		      transform: translate(-50%, -50%);
		    }
		  }
		}
	}
	.contacts_list {
		li {
			margin-bottom: 15px;
			a {
				font-size: 18px;
			}
		}
	}
}

.map_info {
	margin-top: 13px;
	margin-bottom: 50px;
	img {
		margin-right: 5px;
		width: 12px;
		float: left;
	}
	p {
		font-size: 15px;
		font-weight: 400;
	}
}

.place_row {
	margin-bottom: 50px;
}

.place {
	position: relative;
	img {
		max-width: 12px;
		position: absolute;
		top: 2px;
		left: 0;
	}
	.text {
		max-width: 270px;
		padding-left: 2px;
		p {
			font-size: 16px;
			line-height: 22px;
		}
	}
}

#map {
	display: block;
	width: 100%;
	height: 500px;
}

@media (min-width: 320px) and (max-width: 1300px) {
	.contacts {
		max-width: 200px;
		text-align: left;
	}
	.department {
		h2 {
			margin-top: 0;
			font-size: 22px;
			margin-bottom: 15px;
		}
		.department_heading	{
			.text {
				h4 {
					text-align: left;
				}
				p {
					text-align: left;
				}
			}
		}
		.contacts {
			margin-bottom: 15px;
		}
		.place {
			margin-bottom: 15px;
			margin-left: 20px;
		}
	}
	#map {
		margin-top: 20px;
		height: 300px;
	}
}

@media (min-width: 992px) and (max-width: 1300px) {
	.department {
		.department_heading {
	    max-width: 200px;
	    margin: 0 auto;
	    padding-left: 20px;
	    .text {
		    max-width: 160px;
		    margin: 0 auto;
	    }
		}
		.department_leader {
			width: 50%;
		}
	}
}

@media (min-width: 1701px) {
	.contacts_list {
		margin-top: 15px;
	}
	.place {
		margin-top: -5px;
		img {
			top: 18px;
			left: 30px;
		}
		.text {
			padding-left: 37px;
			margin-top: 20px;
			p {
				font-size: 16px;
				line-height: 24px;
			}
		}
	}
	.leaders_wrap {
		margin-top: 40px;
		width: 80%;
		.contacts {
	    max-width: 190px;
		}
		.department_leader {
			width: 35%;
			margin-bottom: 40px;
			.img_wrap {
				img {
					margin-top: 0
				}
			}
		}
		.department_leader:nth-of-type(odd) {
			margin-right: 80px;
		}
	}
	.department {
		.contacts {
	    margin-top: 0;
		}
	}
	.write {
		margin-top: 18px;
	}
}