@import "partials/vars";

section.slider {
  position: relative;
  top: -13px;
  background-color: $blue;
  padding-bottom: 6px;
  margin-bottom: 34px;
}

.top_slider {
    .slick-list {
      width: 100%;
    }
    .slider_item  {
      display: block;
      height: 310px;
      background-size: cover!important;
      .text {
        max-width: 50%;
        margin-left: 120px;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        h2 {
          color: #fff;
          font-size: 26px;
          line-height: 32px;
          font-weight: 600;
          text-transform: uppercase;
        }
        p {
          color: #fff;
          font-size: 20px;
          line-height: 26px;
          font-weight: 400;
        }
      }
      .container {
        height: 100%;
      }
    }
}

.row_department {
  font-size: 0;
}

.round-left, .round-right {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 1;
    button {
      background: transparent;
      border: none;
      font-size: 0;
      outline: none;
      color: #fff;
      width: 40px;
      height: 50px;
      transition: all 0.35s;
      &:hover {
        opacity: 0.5;
      }
    }
}
.round-left {
  left: 12%;
  button {
    background: transparent url(../imgs/arrow-left.png) no-repeat;
  }
}
.round-right {
  right: 10%;
  button {
    background: transparent url(../imgs/arrow-right.png) no-repeat;
  }
}

.services_row {
  margin-top: 45px;
  margin-bottom: 38px;
  font-size: 0;
  .services {
    position: relative;
    margin-bottom: 20px;
    img {
      width: 100%;
    }
    .bott_line {
      background-color: rgba(3, 76, 108, 0.7);
      position: absolute;
      bottom: 0;
      left: 15px;
      right: 15px;
      padding: 13px;
      z-index: 9;
      p {
        text-align: center;
        color: #fff;
        margin-bottom: 0;
        font-size: 18px;
        font-weight: 300;
        line-height: 22px;
        width: 70%;
        margin: 0 auto;
      }
    }
    .hovered {
      transition: all 0.35s;
      background-color: rgba(44, 77, 107, 0.55);
      display: none;
      position: absolute;
      left: 15px;
      right: 15px;
      bottom: 70px;
      top: 0;
      img {
        margin-top: -60px;
        width: 45%;
        height: auto;
      }
      .streched {
        z-index: 1;
      }
    }
    &:hover .hovered {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

.hvr-shutter-out-horizontal {
  background: transparent;
  &:before {
    margin: 5px auto;
    width: 150px;
    height: 140px;
    z-index: -1;
    bottom: 60px;
    background: url(../imgs/crown.png) no-repeat center center;
  }
}

.description {
  .heading {
    margin-bottom: 27px;
  }
  p {
    font-weight: 400;
  }
}

.info {
  margin-bottom: 35px;
  .heading {
    h2 {
      font-size: 20px;
      margin-top: 10px;
      margin-bottom: 10px;
      padding-left: 37px;
    }
  }
}

.reviews_slider {
  .text_wrap {
    max-width: 65%;
    text-align: justify;
    margin: 0 auto;
  }
  .blockquote {
    position: relative;
    p {
      color: $dark;
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
    }
    .inserted {
      display: inline-block;
    }
    .inserted:first-of-type {
      margin-right: -3px;
    }
    .inserted:last-of-type {
      margin-left: -3px;
    }
  }
  .who {
    p {
      margin-bottom: 0;
      font-weight: 400;
    }
  }
  .round-left, .round-right {
    top: 36%;
    button {
      width: 30px;
      height: 35px;
      opacity: 0.25;
      transition: all 0.35s;
      &:hover {
        opacity: 1;
      }
    }
  }
  .round-right {
    right: -37px;
    button {
      background: url(../imgs/small-arrow-right.png) no-repeat 8px;
    }
  }
  .round-left {
    left: 15px;
    button {
      margin-left: -15px;
      transform: rotate(180deg);
      background: url(../imgs/small-arrow-right.png) no-repeat 8px;
    }
  }
}

.article {
  position: relative;
  img {
    float: left;
    max-width: 200px;
  }
  .text {
    margin-left: 220px;
    position: relative;
    h3 {
      color: $dark;
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 6px;
    }
    p {
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
    }
    .see_all {
      bottom: -25px;
      transform: none;
      top: initial;
      left: 0;
    }
  }
}

@media (min-width: 320px) and (max-width: 1300px) {
  .top_slider {
    .slider_item {
      .text {
        min-width: 80%;
        max-width: 100%;
        text-align: center;
        margin-left: 0;
        min-width: 80%;
        h2 {
          font-size: 22px;
          line-height: 26px;
        }
      }
    }
  }
  .seo_text {
    margin-bottom: 20px;
  }
  .services_row {
    .services {
      max-width: 320px;
      margin: 0 auto 20px;
    }
  }
  .article {
    .text {
      margin-bottom: 40px;
      margin-left: 0;
    }
    img {
      float: none;
      display: block;
      margin: 0 auto;
      width: 100%;
      max-width: 300px;
      margin-bottom: 10px;
    }
  }
  .department {
    margin-bottom: 15px;
    .heading {
      h2 {
        margin: 13px 0;
        word-break: break-word;
      }
    }
    .department_heading {
      width: 200px;
      margin: 0 auto;
      position: relative;
      text-align: center;
      .img {
        position: absolute;
        left: 0;
        top: 0;
      }
      .text {
        // margin-left: 0;
      }
    }
    .contacts {
      width: 203px;
      text-align: left;
      margin: 0 auto;
    }
  }
  .subscribe {
    .btn {
      display: block;
      margin: 0 auto;
    }
  }
  .chess {
    display: none;
  }
  .info {
    .heading {
      h2 {
        margin-top: 15px;
      }
      .see_all {
        bottom: 5px;
        left: 50px;
        transform: none;
      }
    }
  }
}

@media (min-width: 481px) {
  .services_row {
    .services {
      display: inline-block;
      width: 50%;
      max-width: 50%;
    }
  }
}

@media (min-width: 481px) and(max-width: 680px) {
  .dispatch {
    input[type=text] {
      width: 100%;
    }
  }
}

@media (min-width: 991px) {
  .services_row {
    .services {
      width: 25%;
    }
  }
  .top_slider {
    .slider_item {
      .text {
        text-align: left;
        margin-left: 125px;
        max-width: 60%;
        min-width: 50%;
        left: 0;
        transform: translate(0%,-50%);
        h2 {
          font-size: 30px;
          line-height: 42px;
          margin-bottom: 20px;
        }
        p {
          font-size: 20px;
          line-height: 30px;
          font-weight: 400;
        }
      }
    }
  }
  .chess {
    margin-top: 0;
    display: block;
  }
  .article {
    img {
      float: left;
      max-width: 200px;
    }
    .text {
      margin-left: 220px;
    }
  }
}

@media (min-width: 1700px) {
  .top_slider {
    .slider_item {
      .text {
        transform: translate(0,-50%);
        h2 {
          font-size: 38px;
          line-height: 46px;
          margin-bottom: 10px;
        }
        p {
          font-size: 24px;
          line-height: 30px;
          font-weight: 400;
        }
      }
    }
  }
  .info {
    margin-top: 52px;
  }
  .department {
    margin-bottom: 23px;
  }
}