@import "partials/vars";

.collaps {
	.content {
		padding: 23px 20px 50px;
		border: 1px solid #e3e4e6;
	}
}

.list {
	li {
		display: block;
		color: #000;
		font-size: 15px;
		line-height: 18px;
		font-weight: 400;
		margin-bottom: 8px;
		&:before {
			background-color: #000;
		}
	}
}

.vacancies_row {
	margin-bottom: 70px;
}

.file_wrap {
	position: relative;
	margin-bottom: 27px;
	img {
		margin-top: -10px;
	}
	.jq-file__name {
		height: 15px;
		padding: 0 0 0 2px;
		font: 14px/14px Open Sans, sans-serif;
		font-weight: 600;
	}
	.jq-file__name, .jq-file {
		border: none;
    box-shadow: none;
	}
	.jq-file__browse {
		display: none;
	}
}

.resume {
	color: #000;
	font-weight: 600;
	h2 {
		text-align: center;
	}
	textarea::placeholder, input::placeholder {
		color: #000;
		font-weight: 600;
	}
	.btn {
		display: block;
		margin: 0 auto;
	}
	textarea {
		margin-bottom: 5px;
	}
}

@media (min-width: 320px) and (max-width: 1300px) {
	.file_wrap {
		padding-left: 12px;
		.browse_file {
			margin: 0;
			position: absolute;
			margin: 0;
			top: 3px;
			z-index: 1;
			left: 0;
		}
	}
	.vacancies_row {
		margin-bottom: 30px;
	}
	.file_wrap {
		margin-bottom: 25px;
	}
}

@media (min-width: 1300px) {
	.breadcrumb {
  	display: block;
  	margin-top: -30px;
  	margin-bottom: 32px;
    margin-left: -3px;
	}
	.heading {
		margin-bottom: 50px;
		h2 {
			font-size: 20px;
			padding-left: 46px;
			margin-top: 25px;
		}
	}
}